.parallax{
  background-image: url("https://images.pexels.com/photos/349608/pexels-photo-349608.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.text-box{
  height: 600px;
  padding: 50px;
}

.button{
  background-color: #32CD32;
  color: rgb(15, 79, 4);
}

.header-box{
  width: auto; 
  height: auto;
  background-color: #32CD32;
  position: absolute;
  z-index: 1000;
  top: 150px;
  font-size: 35px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  color: rgb(15, 79, 4);
}
@media only screen and (max-device-width: 1024px) {
  .parallax {
      background-attachment: scroll;
  }
}