 
.search-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  max-width: 100%;  
  width: 50%;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px auto; 
}

.search-card h2 {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.search-box {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.search-button {
  padding: 8px 16px;
  margin-top: 10px;
  background-color: #4CAF50; 
  color: white;  
  border: none;  
  border-radius: 4px;  
  cursor: pointer;  
}

.search-button:hover {
  background-color: #45a049;  
}

/* Medicamente card */
.medicamente-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));  
  gap: 20px; 
  padding: 20px;  
  overflow-y: auto;
  margin: 0 auto; 
  max-width: 1200px;  
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;  
  margin: 0;  
  width: 100%;  
  height: 450px;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card img {
  width: 100%;
  height: auto;
}

.farmacie-img {
  width: 140px;
  height: auto;
  margin-top: 5px; 
}

@media (min-width: 1000px) {
  .medicamente-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 460px) {
  
@media (min-width: 300px) {
  .medicamente-wrapper {
    grid-template-columns: repeat(2, 1fr);  
  }
}
}
