/* medicament.css */
.medicamente-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Aliniază cardul pe verticală */
    height: 700px; /* Setează înălțimea la întreaga fereastră */
    
  }
  
/* medicament.css */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    max-width: 100%; /* Asigură-te că nu depășește 100% din lățimea containerului părinte */
    width: 50%; /* Setează lățimea cardului la 50% din lățimea paginii */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Centrează cardul orizontal în pagină */
  }
  
  
  .card h2 {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  
  .card p {
    font-size: 1rem;
    color: #555;
  }
  /* medicament.css */
.search-box {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
  
  .search-button {
    padding: 8px 16px;
    margin-top: 10px;
    background-color: #4CAF50; /* Culoarea butonului */
    color: white; /* Culoarea textului butonului */
    border: none; /* Fără margine */
    border-radius: 4px; /* Colțuri rotunjite */
    cursor: pointer; /* Schimbă cursorul la hover */
  }
  
  .search-button:hover {
    background-color: #45a049; /* Culoarea butonului la hover */
  }
  