/*Searchbar*/  
.search-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  max-width: 100%; /* Asigură-te că nu depășește 100% din lățimea containerului părinte */
  width: 50%; /* Setează lățimea cardului la 50% din lățimea paginii */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px auto; /* Centrează cardul orizontal în pagină */
}
  
.search-card h2 {
  font-size: 1.5rem;
  margin-bottom: 8px;
}
  
.search-card p {
  font-size: 1rem;
  color: #555;
}

.search-box {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.search-button {
  padding: 8px 16px;
  margin-top: 10px;
  background-color: #4CAF50; /* Culoarea butonului */
  color: white; /* Culoarea textului butonului */
  border: none; /* Fără margine */
  border-radius: 4px; /* Colțuri rotunjite */
  cursor: pointer; /* Schimbă cursorul la hover */
}
  
.search-button:hover {
  background-color: #45a049; /* Culoarea butonului la hover */
}

/*Medicamente card*/
.medicamente-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Aliniază cardul pe verticală */
  height: 700px; /* Setează înălțimea la întreaga fereastră */
  margin: 10px;
  margin-top: 30px;
}

.medicamente-wrapper{
  display: grid;
  justify-content: center;
  gap: 10px;
  overflow-y: auto;
  margin: 10px;
  margin-top: 30px;
}

.card{
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.farmacie-img{
  top: 55px;
  position: relative;
}

@media (min-width: 1200px)
{
  .medicamente-wrapper{
    grid-template-columns: repeat(4, 275px);
    grid-template-rows: repeat(2, 475px);
  }
  .card{
    min-height: 300px;
  }
}

@media (max-width: 1200px)
{
  .medicamente-wrapper{
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 350px);
  }
  .card{
    min-height: 250px;
  }
}

@media (max-width: 650px)
{
  .medicamente-wrapper{
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 300px);
  }
  .card{
    min-height: 200px;
  }
}

@media (max-width: 450px)
{
  .medicamente-wrapper{
    grid-template-columns: repeat(2, 175px);
    grid-template-rows: repeat(2, 300px);
  }
  .card{
    min-height: 200px;
  }
}
  